* {
	padding: 0;
	margin: 0;
}

html * {
	font-family: Arial !important;
}

header {
	position: relative;
	top: 25px;
}

a {
	color: #000;
	text-decoration: none;

    text-align: center;

	margin-left: 5px;
	margin-right: 5px;
}

li {
	display: inline;
}

.li_text {
	font-size: 13px;
	opacity: 0.75;
	text-align: center;
}

.h_buttons {
	vertical-align: middle;
	position: relative;
	line-height: 10px;
	left: 15px;
}


a:visited, a:focus, a:active { 
	text-decoration: none; 
}

a:hover {
	text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
}

header ul {
	display: inline-flex;
}

#h_left {
	float: left;
	margin-left: 25px;
}

#h_right {
	float: right;
	margin-right: 25px;
}

#apps_button, #notifications_button, #image_button {
	display: inline-block;
	position: relative;
	left: 10px;
}

#image_button {
	top: -5px;
	left: -5px;
}

#user_img {
	border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

#nine_squares, #n_bell, #user_img {
	vertical-align: top;
}

#main_div {
    position: absolute;
    margin-top: 200px;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

#middle {
	position: absolute;
	margin-top: 100px;

    top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
}

#search_bar {
	height: 40px;
	width: 560px;

	border: 1px solid #F2F2F2;
    box-shadow: 0.5px 0.5px 1px 1px #ccc;  
}

#search_bar:link, #search_bar:visited, #search_bar:hover {
	box-shadow: 1px 1px 1px 1px #ccc;  
}

#search_buttons {
	position: absolute;
	margin: auto;
	text-align: center;

    top: 175px;
    bottom: 0;
    left: 0;
    right: 0;
}

.s_buttons {
	background-color: #F4F4F4;
	border: 1px #D3D3D3;
    color: #696969;
}

.s_buttons:link, .s_buttons:visited, .s_buttons:hover {
	border: 1px solid #D2D2D2;
	color: #000;
}

#gs_button{
	height: 36px;
    width: 126px;

	left: 800px;
}

#ifl_button {
    height: 36px;
    width: 144px;
	right: 800px;
}


footer {
	background-color: #F2F2F2;
	
	border-top: 1px solid #E4E4E4;

	position: absolute;
	display: inline-block;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 35px;
	padding-bottom: 10px;
}


#f_left {
	float: left;
	position: relative;
	left: 20px;
}

#f_right {
	float: right;
	position: relative;
	right: 20px;
}


